body {
    background-color: gray;
    align-items: center;
}
p {
    padding: 20px;
    border: 2px;
    border-color: black;
    width: 75%;
    font-size: 35px;
    color: white;
    background-color: black;
}
.menu {
    font-size: 35px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 45px;
    font-style: italic;
    color: black;
}

img, video {
    padding: 10px;
    border-color:blue;
    border-style: double;
}
