body {
    background-color: gray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: black;
    width: 90%;
    margin: 20px auto;
}
p {
    margin: 25px auto;
    width: 75%;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: black;
}
ul {
    font-size: 25px;
    margin: 25px auto;
    list-style-type: none;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    font-style: italic;
    color: black;
}
img, video {
    padding: 10px;
    border-color: darkblue;
    border-style: ridge;
    border-width: 5px;
}
